<header class="site-header" role="banner">
    <div class="wrapper">
      <!-- NAV BAR -->
      <nav class="navbar navbar-light">
        <a class="navbar-brand" href="{{ "/" | relative_url }}">
          <img src="{{ site.baseurl }}/assets/img/occident.gif" height="45" class="d-inline-block align-top" alt="<Occident logo>"> Occident Database
        </a>     
        <div>
        <!-- SEARCH  -->
        <!-- <script async src="https://cse.google.com/cse.js?cx=f76f25bb7375c4c11"></script> 
        <div style="width:300px; float:left; margin:4px 20px 0px 0px;">
          <div class="gcse-search" data-personalizedAds="false">...</div> 
        </div> -->
        <!-- MENU -->         
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
        <div class="collapse navbar-collapse " id="navbarNavAltMarkup">
          <div class="nav justify-content-center">
            <a class="nav-item nav-link" href="{{ site.baseurl }}/about.html">About</a>
            <a class="nav-item nav-link" href="{{ site.baseurl }}/browse.html">Browse</a>
            <a class="nav-item nav-link" href="{{ site.baseurl }}/download.html">Download</a>
            <a class="nav-item nav-link" href="{{ site.baseurl }}/help.html">Help</a>
          </div>
        </div>
      </nav>
    </div>
  </header>    
