---
layout: default
---
<a class="btn btn-sm btn-pill btn-organism" style="float: right;" href="">Cell Types</a>
    <h1> {{ page.name }}</h1>
    <p>{{ page.description }}</p>
    <hr/><br/>
    <!-- {% assign sorted_figures = site.trials | sort: "year" | reverse %} -->
      <ul>
        {% for tr in site.trials %}
          {% if tr.cell_type_1 == page.name %}
              <li><a href="{{ site.baseurl }}{{ tr.url }}">{{ tr.title }}</a> - {{ tr.description }}</li>
          {% endif %}
        {% endfor %}
      </ul> 
<br/><hr/>