---
layout: default
---
  <a class="page-title" href="{{site.url}}{{ site.baseurl }}{{page.url}}">
    <h1 id="title">{{ page.title }}</h1>
  </a>

  <div id="description" style="max-height:75px; overflow-y:hidden;margin-bottom: 20px;">
    {{ page.description }}
    <a href="https://github.com/bee-hive/occident/blob/main/{{ page.path }}"
      target="_blank">
        <span title="Edit description" style="color: #666; font-size: 0.8em;">
          <i class="fa fa-pencil"></i>
        </span>
      </a>
  </div>
 
  <div id="video">
    {% if page.youtube_id != "paste ID here" %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ page.youtube_id }}" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
    </iframe>
    <br/>Total time: {{ page.total_time }}
    {% else %}
    <p style="color: #666;">No video available 
      <a href="https://github.com/bee-hive/occident/blob/main/{{ page.path }}"
      target="_blank">
        <span title="Edit youtube_id" style="color: #666; font-size: 0.8em;">
          <i class="fa fa-pencil"></i>
        </span>
      </a></p>
    {% endif %}
    {% if page.images_url != "paste link here" %}
    {% else %}
    <p style="color: #666;">No images available 
      <a href="https://github.com/bee-hive/occident/blob/main/{{ page.path }}"
      target="_blank">
        <span title="Edit images-url" style="color: #666; font-size: 0.8em;">
          <i class="fa fa-pencil"></i>
        </span>
      </a></p> 
    {% endif %}
  </div> 



  <div class="dropdown">
    <button class="badge badge-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      options
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button class="dropdown-item copy-btn" type="button" to-copy="{{ site.url }}{{ site.baseurl }}{{ page.url }}">Copy permalink</button>
    {% if page.youtube_id != "paste ID here" %}
    <a class="dropdown-item" href="https://www.youtube.com/watch?v={{ page.youtube_id }}" target="_blank">View movie at YouTube</a>
    {% endif %}
    {% if page.images_url != "paste link here" %}
    <a class="dropdown-item" href="{{ page.images_url }}" target="_blank">Download images</a>
    {% endif %}
    </div> 
  </div> 

  <h2 id="cell-type">Cell Type</h2>
  {% for ct in site.cell-types %}
  {% if page.cell_type_1 == ct.name %}
  <a class="btn btn-sm btn-pill btn-organism" href="{{ site.baseurl }}{{ct.url}}">{{ct.name}}</a>
  {% endif %}
  {% endfor %}

  <h2 id="condition">Conditions</h2>
  {% for cond in site.conditions %}
  {% if page.cell_condition_1 == cond.name %}
  <a class="btn btn-sm btn-pill btn-annotation" href="{{ site.baseurl }}{{cond.url}}">{{cond.name}}</a>
  {% endif %}
  {% endfor %} 

  <h2 id="details">Details</h2>
  <ul>
    <li>plate: {{page.plate}}</li>
    <li>well: {{page.well}}</li>
    <li>instrument: {{page.instrument}}</li>
    <li>magnification: {{page.magnification}}</li>
  </ul> 


    <h2 id="images">Images</h2>
    {% assign this-trial = page.title | replace: " ","_" %}
    {% assign image-data=site.data[this-trial] %}
        <table id="images-table"> 
      <thead>
        <th>File</th>
        <th>Channel</th>
        <th>Time</th>
      </thead>
      <tbody>
        {% for row in image-data %}
        <tr>
          <td>{{ row["file"] }}</td>
          <td>{{ row["channel"] }}</td>
          <td>{{ row["time"] }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="dropdown" style="float:right; margin-top: -13px;">
      <button class="badge badge-secondary dropdown-toggle" type="button" id="dropdownMenuButtonDis" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        options
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonDis">
      <a class="dropdown-item" href="https://raw.githubusercontent.com/bee-hive/occident/main/_data/{{ this-trial }}.tsv" target="_blank">Download TSV</a>
      </div>
    </div>
    <input type="button" class="badge badge-secondary" id="tableMore" value="more rows" style="float: left; margin-top: -8px;">
    <input type="button" class="badge badge-secondary" id="tableLess" value="fewer rows" style="float: left; margin-top: -8px;">
    

<script> 
  var trs = $("#images-table tr");
  var btnMore = $("#tableMore");
  var btnLess = $("#tableLess");
  var trsLen = trs.length;
  var startIndex = 5;
  var currentIndex = startIndex;
  var addIndex = 40;
  
  function UrlExists(url) {
    var http = new XMLHttpRequest();
    http.open('HEAD', url, false);
    http.send();
    if (http.status != 404)
      return true;
    else
      return false;
  }

  trs.hide();
  trs.slice(0, startIndex).show();
  checkButton(trsLen,$("#images-table tr:visible").length, btnMore, btnLess);

  btnMore.click(function (e) {
    e.preventDefault();
    $("#images-table tr").slice(currentIndex, currentIndex + addIndex).show();
    currentIndex += addIndex;
    checkButton(trsLen, $("#images-table tr:visible").length, btnMore, btnLess);
  });

  btnLess.click(function (e) {
    e.preventDefault();
    $("#images-table tr").slice(currentIndex - addIndex, currentIndex).hide();
    currentIndex -= addIndex;
    checkButton(trsLen, $("#images-table tr:visible").length, btnMore, btnLess);
  });

  function checkButton(trsLength, currentLength, btnM, btnL) {

    if (currentLength >= trsLength) {
      btnM.hide();
    } else {
      btnM.show();
    }

    if (trsLength > startIndex && currentLength > startIndex) {
      btnL.show();
    } else {
      btnL.hide();
    }

  }

  const copyBtn = document.querySelector('.copy-btn');
  const toCopy = document.querySelector('.copy-btn').getAttribute('to-copy');

  copyBtn.addEventListener('click', () => {
    navigator.clipboard.writeText(toCopy)
      .then(() => {
        toCopy.value = '';
      })
      .catch(err => {
        console.log('Something went wrong', err);
      })
  });

</script>
