---
layout: default
---
  <a class="page-title" href="{{site.url}}{{ site.baseurl }}{{page.url}}">
    <h1 id="title">{{ page.title }}</h1>
  </a>

  <div id="description" style="max-height:75px; overflow-y:hidden;margin-bottom: 20px;">
    {{ page.description }}
    <a href="https://github.com/bee-hive/occident/edit/main/{{ page.path }}"
      target="_blank">
        <span title="Edit description" style="color: #666; font-size: 0.8em;">
          <i class="fa fa-pencil"></i>
        </span>
      </a>
  </div>
 
  <div id="video">
    {% if page.youtube_ids != "paste ID here" %}
    {% if page.youtube_ids.first %}
      {% assign yt = page.youtube_ids.first %}
    {% else %}
      {% assign yt = page.youtube_ids %}
    {% endif %}
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ yt }}" title="YouTube video player" 
    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen>
    </iframe>
    <br/>Total time: {{ page.total_time }}
    {% else %}
    <p style="color: #666;">No video available 
      <a href="https://github.com/bee-hive/occident/edit/main/{{ page.path }}"
      target="_blank">
        <span title="Edit youtube_id" style="color: #666; font-size: 0.8em;">
          <i class="fa fa-pencil"></i>
        </span>
      </a></p>
    {% endif %}
    {% if page.image_urls != "paste link here" %}
    {% else %}
    <p style="color: #666;">No images available 
      <a href="https://github.com/bee-hive/occident/edit/main/{{ page.path }}"
      target="_blank">
        <span title="Edit images-url" style="color: #666; font-size: 0.8em;">
          <i class="fa fa-pencil"></i>
        </span>
      </a></p> 
    {% endif %}
  </div> 



  <div class="dropdown">
    <button class="badge badge-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false">
      options
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <button class="dropdown-item copy-btn" type="button" to-copy="{{ site.url }}{{ site.baseurl }}{{ page.url }}">Copy permalink</button>
    {% if page.youtube_ids != "paste ID here" %}
      {% if page.youtube_ids.first %}
        {% for yt in page.youtube_id %}
          <a class="dropdown-item" href="https://www.youtube.com/watch?v={{ yt }}" target="_blank">View movie at YouTube</a>
        {% endfor %}
      {% else %}
      <a class="dropdown-item" href="https://www.youtube.com/watch?v={{ page.youtube_ids }}" target="_blank">View movie at YouTube</a>
      {% endif %}
    {% endif %}
    {% if page.image_urls != "paste link here" %}
      {% if page.youtube_ids.first %}
        {% for im in page.image_urls %}
          <a class="dropdown-item" href="{{ im }}" target="_blank">Download images</a>
        {% endfor %}
      {% else %}
        <a class="dropdown-item" href="{{ page.image_urls }}" target="_blank">Download images</a>
      {% endif %}
    {% endif %}
    </div> 
  </div> 

  <h2 id="lab">Lab</h2>
  {% for ct in site.labs %}
    {% if page.lab == ct.name %}
      <a class="btn btn-sm btn-pill btn-blue" href="{{ site.baseurl }}{{ct.url}}">{{ct.name}}</a>
    {% endif %}
  {% endfor %}

  <h2 id="institution">Institution</h2>
  {% for ct in site.institutions %}
    {% if page.institution == ct.name %}
      <a class="btn btn-sm btn-pill btn-green" href="{{ site.baseurl }}{{ct.url}}">{{ct.name}}</a>
    {% endif %}
  {% endfor %}

  <h2 id="instrument">Instrument</h2>
  {% for ct in site.instruments %}
    {% if page.instrument == ct.name %}
      <a class="btn btn-sm btn-pill btn-purple" href="{{ site.baseurl }}{{ct.url}}">{{ct.name}}</a>
    {% endif %}
  {% endfor %} 

  <h2 id="details">Details</h2>
  <ul>
    <li><b>magnification</b>: {{page.magnification}}</li>
    {% if page.channels.first %}
      <li><b>channels</b>: {{page.channels | array_to_sentence_string}}</li>
    {% else %}
      <li><b>channels</b>: {{page.channels}}</li>
    {% endif %}
    <li><b>plate type</b>: {{page.plate_type}}</li>
    <li><b>well</b>: {{page.row}}-{{page.column}}</li>
    <li><b>total time</b>: {{page.total_time}}</li>
    <li><b>frequency</b>: {{page.frequency}}</li>
    <li><b>image count</b>: {{page.image_count}}</li>
    <li><b>date</b>: {{page.date | date: '%d %B %Y'}}</li>
    {% if page.cell_types.first %}
    <li><b>cell types</b>: {{page.cell_types | array_to_sentence_string}}</li>
    {% else %}
    <li><b>cell types</b>: {{page.cell_types }}</li>
    {% endif %}
    <li><b>cell count</b>: {{page.cell_count}}</li>
    {% if page.cell_conditions.first %}
      <li><b>cell conditions</b>: {{page.cell_conditions | array_to_sentence_string}}</li>
    {% else %}
      <li><b>cell conditions</b>: {{page.cell_conditions}}</li>
    {% endif %}
    <li><b>comments</b>: {{page.comments}}</li>
  </ul> 


<script> 
  function UrlExists(url) {
    var http = new XMLHttpRequest();
    http.open('HEAD', url, false);
    http.send();
    if (http.status != 404)
      return true;
    else
      return false;
  }

  const copyBtn = document.querySelector('.copy-btn');
  const toCopy = document.querySelector('.copy-btn').getAttribute('to-copy');

  copyBtn.addEventListener('click', () => {
    navigator.clipboard.writeText(toCopy)
      .then(() => {
        toCopy.value = '';
      })
      .catch(err => {
        console.log('Something went wrong', err);
      })
  });

</script>
